{% extends "AppAlumno/base.html" %}
{% load static %}

{% block title %} Tus cuotas a pagar {% endblock title %}

{% block section1 %}
<p>
      Mi nombre es Guido Nicolás Vairo. Este es mi primer curso que hago de programción y seguiré aprendiendo desarrollo web.
    Este proyecto fue una idea de herramienta para alguien que está estudiando una carrera universitaria y quiera mantener un registro de como va con la misma. Gracias a esta web el usuario podrá ver todas las notas de sus exámenes para sacar su promedio, por ejemplo, o
    no olvidarse de que no pago una cuota, y también para saber cuantas materias le quedan para recibirse. La considero una herramienta útil.  
    Yo estudio licenciatura en Marketing, por eso es que se me ocurrió este proyecto. No tengo ningún conocimiento previo de programación por lo no será el proyecto más lindo, ya que es el primero.
    Espero seguir aprendiendo, me gustó mucho el curso y la modalidad de trabajo. Gracias!
</p>


{% endblock %}
            
