{% extends "AppAlumno/base.html" %}
{% load static %}

{% block title %} Finales previos formulario {% endblock title %}


{% block section3 %}
<div class="col-lg-6 col-xxl-4 mb-5">
    <div class="card bg-light border-0 h-100">
        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
            <h2 class="fs-4 fw-bold">TIENES UN FINAL PREVIO!</h2>
            <p class="mb-0">Si tienes un final previo significa que has aprobado la cursada con las dos instancias de parcial, pero aun no has rendido el final, por lo que debes hacerlo para que la materia esté aprobada.<br>Para rendirlo debes ingresar al campus de la universidad y en la sección "Finales" debes buscar la fecha correspondiente y anotarte.<br> A ESTUDIAR!</p>
           
        </div>
    </div>
</div>



{% endblock %}
            
